/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background-color: #C8AA76;
}

.container {
	margin: 0px auto;
	width: 680px;
	min-height: 700px;
	background-color: #AA0000;
	border:2px solid;
	border-radius:25px;
}

.nav {
	margin: 25px;
	padding: 7px;
	background-color: #C8AA76;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.2);
}

.nav a {
	text-decoration : none;
	font-weight : bold;
}

.nav a:hover {
	text-decoration : none;
	background-color: #C8AA76;
	color: rgba(0, 0, 0, 1);
	margin: 0px;
}

.nav a span {
	padding: 5px;
}

.main {
	background-color: white;
	margin: 25px;
	padding: 25px	
}

p.error {
	padding: 10px;
	background-color: #FA8072;
}

p.notice {
    padding: 10px;
	background-color: #98FB98;
}

.logo_container {
	margin: 0 auto; text-align: center
}

table, th, td {
  border: 1px solid black;
  border-spacing: 0px;
}

tr:nth-child(odd) td 
{
  color:#000000;
  background-color: #F2F2F2;
}
