<!DOCTYPE html>
<html>
<head>
  <title>Deskapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="margin: 0px auto; width: 680px; min-height: 700px; background-color: #AA0000; border:2px solid; border-radius:25px;">
<div style="background-color: white; margin: 25px; padding: 25px">
<%= yield %>

</div>

<div class="logo_container" style="margin: 0 auto; text-align: center">
<!--
<img src="http://www.desk.com/resources/_v3/css/img/desk-logo.png"></img>
-->
</div>

</div>

</body>
</html>
